.Details__Item {
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  overflow: hidden;
}

.Details__Item-ConfirmedDayOff {
  background: #6a8759;
}

.Details__Item-PendingDayOff {
  background: rgba(195, 154, 78, 1);
}

.Details__Item-MorningShift,
.Details__Item-SharedInbox,
.Details__Item-Audit,
.Details__Item-System3 {
  background: rgb(58, 62, 100);
}

.Details__Item-WarningMessage {
  justify-content: center;
  background: rgb(207, 70, 71);
}
