.Remover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.Remover-Schedule {
  height: 14px;
  width: 14px;

  font-size: 1.2rem;
  color: black;
}

.Remover-Schedule:hover {
  color: rgb(207, 70, 71);
}

.Remover-Schedule-White {
  color: white;
}

.Remover-Employee {
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.Remover-Employee:hover {
  color: white;
  background: rgb(207, 70, 71);
}