.Detail {
  background: white;
  width: 160px;
  height: 50px;
  padding: 2px;
  position: relative;
  font-size: 0.8rem;
  margin: 2px;
  border: 2px dashed #e6e6e6;
}

.Detail-Filled {
  background: #e6e6e6;
  border: none;
}
