.Employees {
  width: 400px;
}

.Employees__Header {
  color: white;
  height: 26px;
  border: 2px solid white;
  padding: 0 2px;
  font-size: 0.9rem;

}

.Employees__Body {
  display: flex;
  flex-wrap: wrap;
}

.Employees__Footer {
  height: 6px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.Employees-ConfirmedDayOff .Employees__Header,
.Employees-ConfirmedDayOff .Employees__Footer {
  background: #6a8759;
}
.Employees-PendingDayOff .Employees__Header,
.Employees-PendingDayOff .Employees__Footer {
  background: rgb(195, 154, 78);
}

.Employees-Schedule .Employees__Header,
.Employees-Schedule .Employees__Footer {
  background: rgb(58, 62, 100);
}
