.ExtendedView {
  height: 100%;
  width: 1164px;
  overflow: hidden;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
}

.ExtendedView__InnerContainer {
  display: flex;
  height: 100%;
  width: 1181px;
  overflow-x: hidden;
}

.ExtendedView__Header {
  display: flex;
  position: absolute;
  z-index: 2;
  font-size: 0.9rem;
}

.ExtendedView__Header__Column,
.ExtendedView__Body__Column {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.ExtendedView__Header__Column:last-child,
.ExtendedView__Body__Column:last-child {
  margin-right: 0;
}

.ExtendedView__Header__Item {
  color: white;
  height: 28px;
  padding: 0 2px;
  border: 2px solid white;
  border-bottom: 4px solid white;
}

.ExtendedView__Header__Month {
  background: rgb(58, 62, 100);
  background: rgb(207, 70, 71);
  width: 110px;
}

.ExtendedView__Header__Days {
  background: rgb(207, 70, 71);
  width: 54px;
}

.ExtendedView__Header__Details {
  background: rgb(123, 92, 68);
  background: rgb(207, 70, 71);
  width: 164px;
}

.ExtendedView__Body {
  display: flex;
  margin-top: 26px;
}

.ExtendedView__Body__Column-Month {
  width: 110px;
}

.ExtendedView__Body__Column-Days {
  width: 378px;
}

.ExtendedView__Body__Column-Details {
  width: 656px;
}

.ExtendedView__Footer {
  position: absolute;
  margin: auto;
  width: 1160px;
  height: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(207, 70, 71);
  border-top: 4px solid white;
  z-index: 3;
}
