.Basket {
  width: 404px;
}

.Basket__Header {
  color: white;
  height: 26px;
  border: 2px solid white;
  padding: 0 2px;
  font-size: 0.9rem;

}

.Basket__Body {
  display: flex;
  flex-wrap: wrap;
}

.Basket__Footer {
  height: 6px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.Basket-ConfirmedDayOff .Basket__Header,
.Basket-ConfirmedDayOff .Basket__Footer {
  background: #6a8759;
}
.Basket-PendingDayOff .Basket__Header,
.Basket-PendingDayOff .Basket__Footer {
  background: rgb(195, 154, 78);
}

.Basket-Schedule .Basket__Header,
.Basket-Schedule .Basket__Footer {
  background: rgb(58, 62, 100);
}


.Basket-Color .Basket__Header,
.Basket-Color .Basket__Footer {
  background: rgb(207, 70, 71);
}
