.Day {
  height: 110px;
  width: 110px;
  padding: 5px;
  position: relative;
  border: 5px solid white;
}

.Day-Working {
  background: #e6e6e6;
}

.Day-Working:hover .Day__Pointer {
  opacity: 1;
}

.Day-Weekend {
  background: #b3b3b3;
}

.Day__Pointer {
  position: absolute;
  background: rgb(58, 62, 100);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}

.Day__TodayIndicator {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(58, 62, 100);
  color: white;
  z-index: 1;
}

.Day__TodayIndicator > img {
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.Day__DayOffIndicator {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.Day__ConfirmedDayOffIndicator {
  border: 25px solid transparent;
  width: 50px;
  height: 50px;
  border-right: 25px solid #6a8759;
  border-bottom: 25px solid #6a8759;
}

.Day__PendingDayOffIndicator {
  border: 12px solid transparent;
  width: 24px;
  height: 24px;
  border-right: 12px solid rgb(195, 154, 78);
  border-bottom: 12px solid rgb(195, 154, 78);
}

.Day-Small {
  height: 54px;
  width: 54px;
  padding: 0 2px;
  position: relative;
  border: 2px solid white;
  font-size: 0.8rem;
}

.Day-Small .Day__Pointer {
  height: 10px;
  width: 10px;
}

.Day-Small .Day__TodayIndicator {
  padding: 0 2px;
}

.Day-Small .Day__TodayIndicator > img {
  padding: 0;
}

.Day-Small:hover .Day__TodayIndicator__Icon-Hidden {
  display: none;
}

.Day-Small .Day__ConfirmedDayOffIndicator {
  border: 12px solid transparent;
  width: 24px;
  height: 24px;
  border-right: 12px solid #6a8759;
  border-bottom: 12px solid #6a8759;
}

.Day-Small .Day__PendingDayOffIndicator {
  border: 6px solid transparent;
  width: 12px;
  height: 12px;
  border-right: 6px solid rgba(195, 154, 78, 1);
  border-bottom: 6px solid rgba(195, 154, 78, 1);
}

.Day-Small .Remover {
  position: absolute;
  top: 1px;
  right: 1px;
  display: none;
  z-index: 1;
}

.Day-Small:hover .Remover {
  display: flex;
}
