.Employees__OuterContainer {
  height: calc(100% - 60px);
  overflow: hidden;
 
}


.Employees {
  position: relative;
  padding: 60px;
 
  height: 100%;
  overflow-y: scroll;
  margin-right: -17px;
}

.Employees__InnerContainer {
  width: 400px;
  margin: auto;
  
}

.Employees__Header {
  background: rgb(207, 70, 71);
  background: rgb(58, 62, 100);
  background: #e6e6e6;
  /* background: #b3b3b3; */
  height: 60px;
  padding: 0 10px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Employees__Header input{
  width: calc(100% - 66px)
}


.Employees__Button {
  background: rgb(207, 70, 71);
  color: white;
  width: 66px;
  cursor: not-allowed;
}

.Employees__Button-Active {
  cursor: pointer;
}
.Employees__Button-Active:hover {
  box-shadow: 0 0 8px rgb(207, 70, 71);
}


.Employees__Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#e6e6e6;
  /* background: #b3b3b3; */
  margin-top: 10px;
  height: 60px;
  transition: 0.2s;
  padding: 10px;
}

.Employees__Item:hover {
  background: #b3b3b3;
}

.Employees__Item:hover .Remover-Employee {
  background: rgb(207, 70, 71);
  color: white;
}

.Employees__Item__Name {
  margin-left: 15px; 
}

